#mywebsite {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 985px; 
    position: relative;
    text-shadow: 3px 2px 0px #000000;
    color:white;
    background-image: url('landing-img.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;

}

#landing h1  {
    font-size: 63px;
        
        text-shadow: whitesmoke;
        
}


#landing p {
    margin-top: -30px;
    font-size: 22px;
    
}


#landing::before {
content: "";
position: absolute;
width: 80%;
height: 100%;
background-image: linear-gradient(rgba(0,0,0,0.5), transparent), linear-gradient(transparent,rgba(255,255,255,0.5),url('background-image.jpg'));

    
}

#blog {
    margin-top: auto;
    text-align: center;
    padding: 5%;
}

#blog h2 {
    font-size: 35px;
    text-align: center;
    padding-bottom: 25px;
}

#blog div {
    background-color: white;
    padding: -5%;
    border-radius: 10px;
    width: 20%;
    height: auto;
    display: inline-block;
    margin: 1%;
    justify-content: center;
   
}

#blog div img {
   width: 100%;
   height: auto;
   margin-top: -30px;   
}

#blog div h3 {
    margin-top: 5%;
    padding-top: 5%;
    padding-left: 6%;
    text-align: left;
    font-size: x-large;
}

#blog div p {
    text-align: justify;
    margin-top: -5%;
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-size: 14px;

}

#blog div a {
    padding-bottom: 15%;
    display: block;
    text-align: left;
    color: gray;
    text-decoration: none;
    padding-left: 6%;
}

#blog div:nth-child(4) {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-top: 5px solid;
}

#blog div:nth-child(4) img{
    border-top: 4px solid black;
}

#blog div:nth-of-type(3) h3{
    color: white;
}

#blog div:nth-of-type(3) p{
    color: white;
}

#blog div:nth-of-type(3) a{
    color: white;
}